@use '../../styles/variables' as *;

.testimonials-section {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #4b2e2e;
        font-family: $font-secondary;
    }

    .testimonials-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .testimonial-card {
        max-width: 300px;
        padding: 1.5rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        font-style: italic;
        text-align: justify;

        &:hover {
            background-color: $content-background-color-hover;
        }

        .quote {
            font-size: 1rem;
            color: #333;
        }

        .name {
            margin-top: 1rem;
            font-weight: bold;
            color: $tertiary-text-color;
            font-family: $font-title;
        }
    }
}