@use '../../styles/variables' as *;

.admin-chocolates {
    max-width: 1200px; // Make the page wider
    margin: 0 auto; // Center the entire dashboard
    padding: 20px;

    h3 {
        color: $secondary-text-color;
        margin-bottom: 20px;
    }
}

.admin-product-card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%; // Ensure it spans the page width
    display: flex;
    flex-direction: column; // Align the form vertically
    font-size: 1rem;
    margin-bottom: 8px;
    color: $secondary-text-color;

    input,
    textarea {
        padding: 12px;
        border: 1px solid $border-color;
        border-radius: 4px;
        font-size: 1rem;
        color: $secondary-text-color;
        font-family: $font-main;
    }

    textarea {
        width: 90%;
        height: 120px;
    }

    p {
        text-align: left;
        display: flex;
        flex-direction: column; // Align the form vertically
    }

    button {
        padding: 12px;
        background-color: $primary-button-color;
        color: $button-text-color;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        align-self: left;

        &:hover {
            background-color: $primary-button-hover-color;
        }
    }
}