@use '../../styles/variables' as *;

.admin-login-page {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;

    @media (max-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.admin-login-page form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-login-page input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    gap: 12px;
    font-family: $font-title;
    padding: 10px 16px;
    background-color: $primary-button-color;
    border-radius: 4px;
    color: $button-text-color;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-title;
    border: none;
    cursor: pointer;
}
