@use '../../styles/variables' as *;

.about-page {
  width: 100%;
  max-width: 100%; // Remove any restrictions
  margin: 0 auto; // Ensure it's centered

  .about-flex-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 2rem;

    &.reverse {
      flex-direction: row-reverse;
    }

    .about-info-text {
      flex: 1 1 50%;

      p {
        text-align: justify;
        text-justify: inter-word;
      }
    }

    .about-info-image {
      flex: 1 1 45%;

      img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .three-sections-about-yoga {
    background-color: $secondary-background-color;
  }

  .about-top {
    margin: 0; // Ensure no margin
    padding: 0; // Ensure no padding
    position: relative;
    background-image: url('/../public/images/yoga/Zsuzsi_yoga_25.jpg');
    background-size: cover; // Adjust to fill the container
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; // Ensure it spans the full viewport height
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      background-image: url('/../public/images/yoga/Zsuzsi_About_22.jpg');
      height: 120vh;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      width: 100vh;
    }

    @media (width: 1024px) and (height: 600px) {
      width: 200vh;
      height: 80vh;
    }
  }

  .about-overlay {
    background-color: rgba(255, 255, 255, 0.826);
    padding: 20px;
    border-radius: 6px;
    width: 90%; // Default for smaller screens
    max-width: 400px;
    text-align: left;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-10%);
    border: rgb(208, 91, 111, 0.2) solid 2px;
    width: 30%;
    left: -28%; // Larger screens, offset
    top: -20%;

    @media (min-width: 769px) and (max-width: 1024px) {
      width: 30%;
      left: -28%; // Larger screens, offset
      top: -20%;
    }

    @media (max-width: 480px) {
      width: 90%;
      padding: 10px;
      font-size: 0.8rem;
      top: 0%;
      /* Further adjust for very small screens */
    }

    @media (max-width: 768px) {
      top: 85%; // Adjust overlay positioning for smaller screens
    }

  }

  .about-overlay-text p {
    margin: 0 0 1rem;
    font-size: 1rem; // Smaller font by default
    font-family: $font-secondary;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 1.2rem; // Adjust for medium screens
    }
  }

  @media (max-width: 768px) {
    .about-overlay {
      top: 85%;
      /* Move the overlay closer to the bottom of the image */
      left: 50%;
      /* Center the overlay horizontally */
      transform: translate(-50%, -50%);
      /* Center the overlay vertically */
      position: absolute;
      /* Ensure positioning is relative to the parent */
      width: 80%;
      /* Adjust width to fit smaller screens */
    }
  }

  .custom-bullet-list {
    list-style: none;
    padding-left: 1.5rem;
    margin-top: 1rem;

    li {
      position: relative;
      padding-left: 1.8rem;
      margin-bottom: 1rem;
      line-height: 1.6;

      &::before {
        content: '✔️';
        position: absolute;
        left: 0;
        top: 0.1rem;
        font-size: 1rem;
        color: $accent-color;
      }
    }
  }

  .faq {
    h4 {
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1.5rem;
      color: $tertiary-text-color;

      @media (min-width: 768px) {
        font-size: 1.25rem;
      }
    }

    p {
      font-size: 0.95rem;
      margin-top: 0.4rem;
      color: $text-color;
      line-height: 1.6;

      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  a {
    color: $accent-color;
    text-decoration: underline;

    &:hover {
      color: darken($accent-color, 10%);
    }
  }

  .about-info-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px; // Default padding for smaller screens
    font-family: $font-main;
    color: $text-color;
    max-width: 1200px;

    @media (min-width: 344px) and (max-width: 768px) {
      max-width: 800px;
      padding: 40px;
      width: 100%;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      max-width: 1200px;
      padding: 20px;
      margin-left: 50px;
      margin-right: 50px;
    }

    .cta-links {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 1rem;

      .cta-button {
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: $font-main;
        text-align: center;
        text-decoration: none;
        border-radius: 6px;
        transition: all 0.3s ease;
        max-width: 280px;
        width: 100%;
        margin-bottom: 3rem;

        // Primary button
        &.cta-button {
          background-color: $primary-button-color;
          color: $button-text-color;
          border: none;

          &:hover {
            background-color: $primary-button-hover-color;
          }
        }

        // Outline button
        &.outline {
          background-color: transparent;
          color: $primary-button-color;
          border: 2px solid $primary-button-color;

          &:hover {
            background-color: $primary-button-color;
            color: white;
          }
        }

        @media (min-width: $breakpoint-md) {
          width: auto;
          flex: 1 1 auto;
        }
      }
    }


    h3 {
      font-size: 1.25rem; // Adjust for smaller screens
      text-transform: uppercase;
      color: $main-title-color;
      margin-bottom: 25px;

      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .info-category {
      margin-bottom: 15px;

      .info-item {
        margin-bottom: 35px;

        h4 {
          font-size: 1.1rem; // Adjust for small screens
          font-weight: bold;
          margin: 5px 0;
          color: $tertiary-text-color;

          @media (min-width: 768px) {
            font-size: 1.25rem;
          }
        }

        p {
          font-size: 0.9rem; // Default for small screens
          line-height: 1.5;
          margin: 5px 0;

          @media (min-width: 768px) {
            font-size: 1rem;
          }

          em {
            font-style: italic;
            color: $secondary-text-color;
          }

          strong {
            font-weight: bold;
          }

          a {
            text-decoration: none;
            color: $secondary-text-color;
          }
        }
      }
    }
  }
}